body, html { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden; 
    background-color: #111111; 
}

.frame-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.top-bar {
    height: 140px; 
    flex-shrink: 0;
    z-index: 10;
    background-color: #111111;
}

.main-stage {
    flex-grow: 1;
    position: relative;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}